@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:ital,wght@0,300;1,300&display=swap");

*,
*::before,
*::after {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 1.2rem;
}

body {
  background-color: #f0dba6;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  color: #6568ba;
}

.container {
  max-width: 600px;
  min-width: 310px;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  padding: 2em auto;
  text-align: center;
  background-color: #ebebeb;
}

.header__input-grocery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 0 2rem;
  gap: 0.4em;
}

.header__input-grocery > * {
  flex: 1 1 100%;
  width: 100%;
}

.grocery-items {
  padding: 1rem;
}

.grocery-item {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: flex-start;
}

.grocery-item {
  border: 1px solid #444;
}

.grocery-item + .grocery-item {
  border-top: none;
}

span {
  font-size: 1.5rem;
  display: block;
  margin-left: 1rem;
}

.btn-delete {
  margin-left: auto;
  cursor: pointer;
  background-color: #fff;
}

.btn-delete:hover {
  background-color: #ebebeb;
}

.btn-delete:focus {
  outline: none;
  border: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.6;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
  width: 100%;
  max-width: 400px;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.modal-title {
  text-align: center;
  color: #ebebeb;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.render-modal {
  display: flex;
}
