@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:ital,wght@0,300;1,300&display=swap");

*,
*::before,
*::after {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 1.2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.container {
  max-width: 600px;
  min-width: 310px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.header__input-grocery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.header__input-grocery > * {
  flex: 1 1 100%;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

span {
  font-size: 1.5rem;
  display: block;
  margin-left: 1rem;
}

.btn-delete {
  margin-left: auto;
  cursor: pointer;
  background-color: #fff;
}

.btn-delete:hover {
  background-color: #ebebeb;
}

.btn-delete:focus {
  outline: none;
  border: none;
}
